[submodule "spiffo"]
	path = spiffo
	url = https://github.com/kkroening/spiffo.git
[submodule "modules/spira"]
	path = modules/spira
	url = https://github.com/kkroening/kkroening.github.io.git
[submodule "nambiner"]
	path = nambiner
	url = git@github.com:agosto-karlkroening/nambiner.git
